<h1>All About <%= @guest.name %></h1>

<h3>Occupation: </h3>
<%= @guest.occupation %>

<h3>Appearance: </h3>
<ul>
    <% @guest.episodes.each do |episode| %>
    <li>
    <%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode %>
    </li>
    <% end %>
</ul>


