<h1>All Episodes</h1>

<% if flash[:delete] %>
    <li><%= flash[:delete] %></li>
<% end %>
<br>
<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode %></li>
  <% end %>
</ul>
