<h1>All Episodes</h1>

<p><%= link_to "List of all guests", guests_path %></p>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode%></li>
  <% end %>
</ul>
