<h1><%= "Episode #{@episode.number} - #{@episode.date.strftime("%B %d, %Y")}" %></h1>
<h3> Guests: </h3>
<ul>
<% @guests.each do |guest| %>
    <li> Name: <%= link_to guest.name, guest_path(guest) %></li>
    <li> Occupation: <%= guest.occupation %></li> 
    <br><br>
<% end %>
</ul>