<h1>These are the details for <%=@episode.number%></h1>

Date: <%=@episode.date%> <br>
Episode Number: <%=@episode.number%> <br>
<h1>Episode Guests</h1>
<%@episode.guests.each do |guest|%>
<%=guest.name%><br>
<%end%>